state-machine.json
{
  "Comment": "Image resizing workflow with success/fail check",
  "StartAt": "ResizeImage",
  "States": {
    "ResizeImage": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:961595617602:function:capstoneResizeImage",
      "InputPath": "$",
      "ResultPath": "$.resizeResult",
      "Next": "CheckResizeResult",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ResizeFailed"
        }
      ]
    },
    "CheckResizeResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.resizeResult.status",
          "StringEquals": "success",
          "Next": "ResizeSuccessful"
        }
      ],
      "Default": "ResizeFailed"
    },
    "ResizeSuccessful": {
      "Type": "Succeed"
    },
    "ResizeFailed": {
      "Type": "Fail",
      "Cause": "Image resizing failed"
    }
  }
}
